# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [ ]:
# import libraries here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [ ]:
# your code here
temp = pd.read_csv('Temp_States.csv')
temp

#### Print `temp`.

In [ ]:
# your code here
temp

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [ ]:
# your code here
temp.dtypes

In [ ]:
"""
your comments here
"""

#### Select the rows where state is New York.

In [ ]:
# your code here
temp.loc[temp.State=='New York']

#### What is the average temperature of cities in New York?

In [ ]:
# your code here
temp.loc[temp.State=='New York'].mean()

#### Which states and cities have a temperature above 15 degrees Celsius?

In [ ]:
# your code here
temp.loc[temp['Temperature']>15]

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [ ]:
# your code here
temp['City'].loc[Temp['Temperature']>15]

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [ ]:
# your code here
temp[(temp['Temperature'] >= 15) & (temp['Temperature'] <25)]

#### Find the mean and standard deviation of the temperature of each state.

In [ ]:
# your code here
temp.groupby('State').agg(['mean', 'std'])

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [ ]:
# your code here
employee= pd.read_csv('Employee.csv')

#### Explore the data types of the `employees` dataframe. Comment your results.

In [ ]:
# your code here
employee.dtypes

In [ ]:
"""
your comments here
"""

#### What's the average salary in this company?

In [ ]:
# your code here
employee.Salary.mean()

#### What's the highest salary?

In [ ]:
# your code here
employee.Salary.max()

#### What's the lowest salary?

In [ ]:
# your code here
employee.Salary.min()

#### Who are the employees with the lowest salary?

In [ ]:
# your code here
employee.loc[employee['Salary']==employee.Salary.min()]

#### Find all the information about an employee called David.

In [ ]:
# your code here
employee.loc[employee['Name']=='David']

#### Could you return only David's salary?

In [ ]:
# your code here
employee.loc[employee['Name']=='David']['Salary']

#### Print all the rows where job title is associate.

In [ ]:
# your code here
employee.loc[employee['Title']=='associate']

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
# your code here
employee.iloc[:3]

In [ ]:
# Method 2
# your code here
employee[:3]

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
# your code here
employee.loc[(employee.Salary>55) & (employee.Title=='associate')]

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
# your code here
employee.groupby('Years').mean()['Salary']

####  What is the average salary per title?

In [ ]:
# your code here
employee.groupby('Title').mean()

####  Find the salary quartiles.

In [ ]:
# your code here
employee.boxplot()

#### Is the mean salary different per gender?

In [ ]:
# your code here
employee.groupby(['Gender']).mean()

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
# your code here
employee.groupby('Department').agg(['min','max','mean'])

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here
employee.groupby('Department')[['Salary']].agg(lambda x: x.max()- x.min())

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [ ]:
# your code here
orders= pd.read_csv('Orders.csv')

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here
orders.dtypes

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here
orders['amount_spent'].mean()

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here
orders['amount_spent'].min()
orders['amount_spent'].max()

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here
orders.loc[orders.Country=='Spain']

#### How many customers do we have in Spain?

In [ ]:
# your code here
orders.loc[orders.Country=='Spain']['Country'].value_counts()

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here
orders.loc[orders.Quantity>50]

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here
orders.loc[(orders.Quantity>50) & (orders.Country=='Spain')]

#### Select all free orders.

In [ ]:
# your code here
orders.loc[orders.amount_spent==0]

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here
orders.loc[orders.Description.str.startswith('lunch bag')]

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here
orders.loc[(orders.Description.str.startswith('lunch bag')) & (orders.year==2011)]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here
orders.loc[orders.Country=='Spain']['amount_spent'].hist(bins=50)

#### Select all orders made in the month of August.

In [ ]:
# your code here
orders.loc[orders.month==8]

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here
orders.loc[orders.month==8]['Country'].value_counts()

#### What's the  average amount of money spent by country?

In [ ]:
# your code here
orders.groupby('Country').mean()['amount_spent']

#### What's the most expensive item?

In [ ]:
# your code here
orders.loc[orders.amount_spent==orders.amount_spent.max()]

#### What is the average amount spent per year?

In [ ]:
# your code here
orders.groupby('year').mean()